

<!-- == (Local, Redevable) Numbers -Start- == -->
<div class="numbers">
    <div class="redevable">
      <span class="shadow"></span>
      <i class='bx bxs-user' ></i><!--  bx-tada -->
    </div>
  <div>
    <h3>Redevable</h3>
    <p>1000</p>
  </div>
  <div class="appart">
    <span class="shadow"></span>
    <i class='bx bxs-school'></i>
  </div>

  <div>
    <h3>Appartement</h3>
    <p>1000</p>
  </div>
  <div class="villa">
    <span class="shadow"></span>
    <i class='bx bxs-home' ></i>
  </div>
  <div>
    <h3>Villa</h3>
    <p>1000</p>
  </div>
  <div class="duplex">
    <span class="shadow"></span>
    <i class='bx bxs-institution' ></i>
  </div>

  <div>
    <h3>Duplex</h3>
    <p>1000</p>
  </div>
</div>

<!-- == (Local, Redevable) Numbers -End- == -->

<div class="container-charts ">
  <div class="row">
    <!-- == Chart One -Start- == -->
    <div class="chart col-6">
      <div class="header">
        <h3>Locaux</h3>
      </div>
      <div>
        <div id="chartOne" class="-ml-5"></div>
      </div>
    </div>
    <!-- == Chart One -End- == -->
    <!-- == Chart Two -Start- == -->
    <div class="chartTwo col-5 col-sm-4">
      <div class="header">
        <h3>Redevable</h3>
      </div>
      <div>
        <div id="chartTwo" class="-ml-5 -mb-9"></div>
      </div>
    </div>
    <!-- == Chart Two -End- == -->
  </div>
</div>

<!-- == Users List -Start- == -->
<div class="userList">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="img"> <img src="../../../assets/Images/Mehdi.jpeg" alt=""></div>

      Mehdi Benmarzouq(Admin)
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Test</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>
<!-- == Users List -End- == -->
