
<!--Search Bar -Start- -->

<div class="container-search">

  <div class="row height d-flex justify-content-center align-items-center">

    <div class="col-md-6">

      <div class="form">

        <input type="text" class="form-control form-input" name ="search" placeholder="Search By Cin" [(ngModel)]="searchText">
        <i class="fa fa-search"></i>

      </div>

    </div>

  </div>

</div>

<!--Search Bar -End- -->


<div class="container d-flex justify-content-around" style="margin:0;">
<div class="col-md-4">
  <app-redevable-create></app-redevable-create>
</div>
  <div class="card col-md-6">
    <div class="card-header"> Liste des Redevables</div>
    <div class="card-body">
      <table class="table  table-bordered   "> <!--*ngIf="redevables.length != 0"-->
        <thead>
        <th>CIN</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Delete</th>
        </thead>
        <tbody >
        <tr *ngFor="let r of redevableInfos | filter: searchText ; index as i " >
          <td>{{r.cin}}</td>
          <td>{{r.nom}}</td>
          <td>{{r.prenom}}</td>
          <td><button (click)="deleteByCin(r,i)" class="delete-btn" >Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>













