<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>Home</title>
</head>
<body>
<!-- to see the animation @sejour-->

<!-- === NavBar -Start- === -->
<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary" id="navBar">
  <div class="logo-header col-md-7">
    <i class="fa-solid fa-snowflake fa-spin"></i>
    <span>Taxe Sejour</span>
  </div>

  <div class="navbar-btns col-md-5">
    <ul class="pages-btns">
      <li  class="navbar-btn">
        <span></span>
        <a href="">Home</a>
      </li>
      <li class="navbar-btn">
        <span></span>
        <a href="">About-Us</a>
      </li>
      <li class="navbar-btn">
        <span></span>
        <a href="">Get Started</a>
      </li>
    </ul>
  </div>
</nav>
<!-- === NavBar -End- === -->
<!-- === Banner -Start- === -->
<section>
  <div class="container d-flex justify-content-between">
      <div class="image col-6">
        <div></div>
      </div>
      <div class="text col-6">
        Text will appear here

        
      </div>
  </div>
</section>
<!-- === Banner -End- === -->
</body>
</html>










